<div class="container mt-5" style="width: 27%">
    <div class="row">
        <div class="col-12">
            <div class="card card-employee card-margin">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <strong>Editing Subject File</strong>        
                        </div>
                        <div class="col-6 text-right">
                            <%= link_to 'Show', @subject_file %> |
                            <%= link_to 'Back', subject_files_path %>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= render 'form', subject_file: @subject_file %>           
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>




<h1></h1>




