<div class="container pt-3" style="max-width: 700px;">
    <br>
<h1>New Teacher</h1>

<%= render 'form', teacher: @teacher %>

<%= link_to 'Back', teachers_path %>
 <button type="button"  class="btn btn-primary btn-dark btn-sm " style="width: 100%; margin-top: 5px">
     <%= link_to 'Back Teachers List', teachers_path, class: 'text-white' %>
    </button>
</div>