// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg-facebook {
    background-color: #128C7E;
}

.navbar-brand {
    font-weight: bolder;
    margin: 5px 15px;
    color: white!important;
}

.logo {
    font-size: 1.7rem;
}

.navbar-brand a {
    color: white!important;
}

.navbar-brand a:hover {
    color: #ECE5DD!important;
}
