@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';


a:link {
    text-decoration:none; 
}

a {
    color: white;
}

a:hover {
    color: #ECE5DD;
}

body {
    color: 	#f7f7f7;
}